---
import { getCollection } from "astro:content";
import VideoLink from "../../components/VideoLink.astro";
import Layout from "../../layouts/Layout.astro";

import { chunks } from "../../utils";

const [topVideo, ...videos] = (await getCollection("videos")).reverse();
---

<Layout title="videos">
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-2xl py-2 font-medium">VIDEOS</h1>
  </div>
  <a
    href={`/videos/${topVideo.slug}`}
    class="flex flex-col justify-center items-center gap-4 m-2 p-6 border-2 border-transparent hover:border-primary-500 transition-all delay-100 border-clay-500 border-b"
  >
    <img src={topVideo.data.image} class="shrink-0 object-contain h-full" />
    <p class="text-2xl font-bold underline">
      {topVideo.data.title}
    </p>
  </a>
  <div class="h-px border-clay-500 border-t"></div>
  {
    Array.from(chunks(videos, 2)).map(([left, right]) => (
      <div class="flex flex-wrap border-clay-500 border-b last:border-b-0">
        <div class="w-1/2 border-clay-500 border-r">
          <VideoLink
            slug={left.slug}
            title={left.data.title}
            image={left.data.image}
          />
        </div>
        {right && (
          <div class="w-1/2">
            <VideoLink
              slug={right.slug}
              title={right.data.title}
              image={right.data.image}
            />
          </div>
        )}
      </div>
    ))
  }
</Layout>
