---
import { getCollection } from "astro:content";
import Article from "../components/Article.astro";
import FeatureArticle from "../components/FeatureArticle.astro";
import { lorem } from "../fixtures/lorem";
import Layout from "../layouts/Layout.astro";

const [latestNews, secondLatestNews, thirdLatestNews] = (
  await getCollection("news")
).reverse();
---

<Layout title="home">
  <swiper-container
    class="carousel"
    speed="500"
    loop="true"
    autoplay="true"
    pagination="true"
  >
    <swiper-slide>slide 1</swiper-slide>
    <swiper-slide>slide 2</swiper-slide>
    <swiper-slide>slide 3</swiper-slide>
    <swiper-slide>slide 4</swiper-slide>
  </swiper-container>
  <main>
    <div class="news-section-header">
      <h1>News</h1>
    </div>
    <div class="news-feature">
      <FeatureArticle
        slug={latestNews.slug}
        title={latestNews.data.title}
        preview={lorem}
        image={latestNews.data.image}
      />
    </div>
    <div class="news-asides">
      <div class="news-aside-1">
        <Article
          slug={secondLatestNews.slug}
          title={secondLatestNews.data.title}
          preview={lorem}
          image={secondLatestNews.data.image}
        />
      </div>
      <div class="news-aside-2">
        <Article
          slug={thirdLatestNews.slug}
          title={thirdLatestNews.data.title}
          preview={lorem}
          image={thirdLatestNews.data.image}
        />
      </div>
    </div>
    <div class="video-and-breaking">
      <div class="video-feature">
        <img src="https://i.imgur.com/g9fFNs9.png" />
        <p>watch our new video!</p>
      </div>
      <div class="breaking-news">
        <h2>breaking news!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="shop-section-header">
      <h1>Shop</h1>
    </div>
    <div class="shop-feature">featured item</div>
    <div class="shop-asides">
      <div class="shop-aside-1">item 1</div>
      <div class="shop-aside-2">item 2</div>
      <div class="shop-aside-2">item 3</div>
    </div>
  </main>
</Layout>

<style>
  swiper-container {
    height: 12rem;
    width: 100%;
  }

  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    padding: 0.5rem 1rem;
  }

  .news-section-header,
  .shop-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news-asides {
    display: flex;
    gap: 2rem;
    font-size: 0.75rem;
  }

  .video-and-breaking {
    display: flex;
  }

  .video-feature,
  .breaking-news {
    width: 50%;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
  }

  .video-feature {
    justify-content: center;
    align-items: center;
  }
</style>
