---
import { getCollection } from "astro:content";
import Article from "../components/Article.astro";
import { lorem } from "../fixtures/lorem";
import Layout from "../layouts/Layout.astro";
import { chunks } from "../utils";

const [topArticle, ...articles] = (await getCollection("news")).reverse();
---

<Layout title="home">
  <!--
  <swiper-container
    class="h-[16rem] w-full"
    speed="500"
    loop="true"
    autoplay="true"
    pagination="true"
  >
    <swiper-slide class="flex justify-center items-center">slide 1</swiper-slide
    >
    <swiper-slide class="flex justify-center items-center">slide 2</swiper-slide
    >
    <swiper-slide class="flex justify-center items-center">slide 3</swiper-slide
    >
    <swiper-slide class="flex justify-center items-center">slide 4</swiper-slide
    >
  </swiper-container>
  -->
  <Article
    variant="large"
    slug={topArticle.slug}
    title={topArticle.data.title}
    preview={lorem}
    image={topArticle.data.image}
  />
  <hr class="border-clay-500" />
  {
    Array.from(chunks(articles, 2)).map(([left, right]) => (
      <div class="flex flex-wrap border-clay-500 border-b last:border-b-0">
        <div class="w-1/2 border-clay-500 border-r">
          <Article
            slug={left.slug}
            title={left.data.title}
            preview={lorem}
            image={left.data.image}
          />
        </div>
        <div class="w-1/2">
          <Article
            slug={right.slug}
            title={right.data.title}
            preview={lorem}
            image={right.data.image}
          />
        </div>
      </div>
    ))
  }
  <!--
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">SHOP</h1>
  </div>
  <div class="flex">
    <div class="flex-grow border-clay-500 border-r">
      <ShopCategory
        id="zines"
        title="zines"
        image="https://hyper-localized.jack.camera/products/zines/how-to-rollllll-a-filter/thumbnail.png"
      />
    </div>
    <div class="flex-grow border-clay-500 border-r">
      <ShopCategory
        id="apparel"
        title="Apparel"
        image="https://i.imgur.com/hABcRGI.png"
      />
    </div>
    <div class="flex-grow">
      <ShopCategory
        id="prints"
        title="Prints"
        image="https://i.imgur.com/ibJKvBx.png"
      />
    </div>
    -->
</Layout>
