---
import { getCollection } from "astro:content";
import ShopItem from "../components/ShopItem.astro";
import Layout from "../layouts/Layout.astro";

const zineItems = await getCollection(
  "shop",
  ({ data }) => data.category === "zines"
);

const apparelItems = await getCollection(
  "shop",
  ({ data }) => data.category === "apparel"
);

const printItems = await getCollection(
  "shop",
  ({ data }) => data.category === "prints"
);
---

<Layout title="shop">
  <div class="flex justify-center items-center border-clay-500 border-b">
    <h1 class="text-2xl py-2 font-medium">SHOP</h1>
  </div>
  <swiper-container
    class="h-[16rem] w-full"
    speed="500"
    loop="true"
    autoplay="true"
    pagination="true"
  >
    <swiper-slide class="flex justify-center items-center">item 1</swiper-slide>
    <swiper-slide class="flex justify-center items-center">item 2</swiper-slide>
    <swiper-slide class="flex justify-center items-center">item 3</swiper-slide>
    <swiper-slide class="flex justify-center items-center">item 4</swiper-slide>
  </swiper-container>
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">ZINES</h1>
  </div>
  <div class="flex">
    {
      zineItems.map((zine, index) => (
        <>
          {index !== 0 && <div class="w-px border-clay-500 border-r" />}
          <ShopItem
            id={zine.slug}
            title={zine.data.title}
            image={`https://hyper-localized.jack.camera/products/zines/${zine.slug}/thumbnail.png`}
          />
        </>
      ))
    }
    {
      zineItems.length === 0 && (
        <div class="flex items-center justify-center w-full h-32 italic opacity-70">
          <p>no zines at the moment</p>
        </div>
      )
    }
  </div>
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">APPAREL</h1>
  </div>
  <div class="flex">
    {
      apparelItems.map((apparel, index) => (
        <>
          {index !== 0 && <div class="w-px border-clay-500 border-r" />}
          <ShopItem
            id={apparel.slug}
            title={apparel.data.title}
            image={`https://hyper-localized.jack.camera/products/apparel/${apparel.slug}/thumbnail.png`}
          />
        </>
      ))
    }
    {
      apparelItems.length === 0 && (
        <div class="flex items-center justify-center w-full h-32 italic opacity-70">
          <p>no apparel items at the moment</p>
        </div>
      )
    }
  </div>
  <div class="flex justify-center items-center border-clay-500 border-y">
    <h1 class="text-2xl py-2 font-medium">PRINTS</h1>
  </div>
  <div class="flex">
    {
      printItems.map((print, index) => (
        <>
          {index !== 0 && <div class="w-px border-clay-500 border-r" />}
          <ShopItem
            id={print.slug}
            title={print.data.title}
            image={`https://hyper-localized.jack.camera/products/prints/${print.slug}/thumbnail.png`}
          />
        </>
      ))
    }
    {
      printItems.length === 0 && (
        <div class="flex items-center justify-center w-full h-32 italic opacity-70">
          <p>no prints at the moment</p>
        </div>
      )
    }
  </div>
  <div class="flex border-clay-500 border-t">
    <div
      class="flex flex-col w-5/12 justify-center h-48 items-center border-clay-500 border-r p-3 gap-y-2"
    >
      <img
        src="https://i.imgur.com/g9fFNs9.png"
        class="h-full object-contain"
      />
    </div>
    <div class="flex flex-col w-7/12">
      <div
        class="w-full flex flex-col justify-center items-center border-clay-500 border-b"
      >
        <h2 class="text-lg py-1">why consumerism is bad</h2>
        <h2 class="text-lg py-1 italic">(unless you are buying from us)</h2>
      </div>
      <p class="m-3">lorem ipsum</p>
    </div>
  </div>
</Layout>
